# Server
PORT=4000
JWT_SECRET=change-me

# Database (PostgreSQL)
# For local dev use docker-compose or local Postgres
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/allin1?schema=public"
